# ==========================
# Python
# ==========================
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
venv/
.venv/
env/
ENV/

# ==========================
# Django
# ==========================
db.sqlite3
*.sqlite3

media/

# Local settings
local_settings.py

# ==========================
# Environment Variables
# ==========================
.env
.env.*

# ==========================
# Static Files (collected)
# ==========================
staticfiles/

# ==========================
# IDE
# ==========================
.vscode/
.idea/

# ==========================
# OS Files
# ==========================
.DS_Store
Thumbs.db

# ==========================
# Logs
# ==========================
*.log

# ==========================
# Coverage
# ==========================
.coverage
htmlcov/
.pytest_cache/

# ==========================
# mypy
# ==========================
.mypy_cache/

# ==========================
# Build Files
# ==========================
build/
dist/
*.egg-info/